doctype html
html(lang="en")
  head
    title jsserv
    link(href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700', rel='stylesheet', type='text/css')
    style
      include ../../assets/css/lib/normalize.css
    style
      include ../../assets/css/common.css
  body
    .wrap
      block body

      hr
      .footer
        .clearfix
          .right Report: #[a(href="//github.com/hamidlab/jsserv/issues") Bug/Issue]
