body {
  font-family: Ubuntu, arial;
}
.wrap {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
.right {
  float: right;
}
.left {
  float: left;
}
pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}
pre > code {
  background: none;
  font-size: inherit;
  padding: 0;
}
code {
  padding: 0.2em 6px;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.footer {
  color: #999;
  font-size: 75%;
}
